/* Background Start  */
.box-parent{
 border: 1px solid black;
 width: 300px;
 height: 270px;
 background-image: url(../image/image-1.avif);
 background-repeat: no-repeat, no-repeat;
 /* background-size: contain; */
 /* background-size: cover; */
 /* background-size: 100% 80%; */
 background-size: 100% 90% ;
 /* opacity:; */
}
/* Background End  */

/* Multiple Background Image Start */
.multiple-box{
 border: 1px solid black;
 width: 400px;
 height: 300px;
 background-image: url(../image/image-2.jpg),url(../image/image-3.jpg);
 background-repeat: no-repeat;
 background-size: 100% 50% ,100% 50%;
 background-position: top ,bottom ;
}
.size{
 font-size: 1.2rem;
}
/* Multiple Background Image End */



