/*  Start  */
.center{
  text-align: center;
}
/*  End  */

/* Google Fonts Start  */

.serif{
  font-family: "PT Serif", serif; font-weight: 400;
}
.edu{
  font-family: "Edu AU VIC WA NT Arrows", cursive;
}
.bungee{
  font-family: "Bungee Spice", sans-serif;
}

/* Google Fonts End  */

