/*  Mobile to web Start Start  */
@media screen and (min-width: 768px) {
  .mobile,
  .pc {
    display: none;
  }

  .tablet {
    display: block;
    color: blue;
  }
}

@media screen and (min-width: 1200px) {
  .mobile,
  .tablet {
    display: none;
  }

  .pc {
    display: block;
    color: black;
  }
}

/*  Mobile to web Start End  */

/* Min Height Responsive Start */
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

/* Min Height Responsive End */
