body {
  min-height: 100vh;
}

/*  Responsive Information Start  */
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* Responsive Information End  */

/*  Mobile to web Start Start  */
.mobile-to-web-container {
  margin-top: 5rem;
}
.mobile {
  color: red;
}

.tablet,
.pc {
  display: none;
}

/* Mobile to web Start End  */
