/* Bangla Fonts Start  */
@font-face{
  font-family: "Li Halder Chinmoyee Unicode";
  src: url(./Document/Fonts/font-one/Li\ Halder\ Chinmoyee\ Unicode.ttf);
}

.one{
  font-family:"Li Halder Chinmoyee Unicode" ;
}
/* Bangla Fonts End  */

